<header>
<h1>Documents repo</h1>
	<navigation>
		<ul>
			<li>
				<%= link_to "Add", new_document_path %>
				<%= render file: "documents/new" %>
			</li>
		</ul>
	</navigation>
</header>

<article>
	<h2> Current docs </h2>

	<% if @documents.any? %>
		<% @documents.each do |document| %>
			<section class="col-md-6">
				<%# document.ref %>
				<%= link_to document.ref, document_path(document) %>
			</section>
		<% end %>
	<% else %>
		Nothing yet buddy
	<% end %>

	<%# render file: "documents/show" %>
</article>


