<% if @documents.any? %>
	<% @documents.each do |document| %>
		<section class="col-md-6">
			<%= link_to document.ref, document_path(document) %>
		</section>
	<% end %>
<% else %>
	Nothing yet buddy
<% end %>
