<div id="sidebar">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Documents", documents_path %></li>
    <li><a href="#">Invoices</a></li>
    <li><a href="#">Quotes</a></li>
    <li><a href="#">Customers</a></li>
  </ul>
</div>
   
         







